<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.express"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReceiveOrSent" >
        </activity>
        <activity android:name=".InformationInput" >
        </activity>
        <activity android:name=".Verification" >
        </activity>
        <activity
            android:name=".Ssd3"
            android:label="@string/title_activity_ssd3" >
        </activity>
        <activity
            android:name=".Callpage"
            android:label="@string/title_activity_callpage" >
        </activity>
        <activity
            android:name=".Callpage2"
            android:label="@string/title_activity_callpage2" >
        </activity>
        <activity
            android:name=".Callpage3"
            android:label="@string/title_activity_callpage3" >
        </activity>
        <activity
            android:name=".Callpage4"
            android:label="@string/title_activity_callpage4" >
        </activity>
    </application>

</manifest>
